[submodule "core/symbolic/nstk"]
	path = core/symbolic/nstk
	url = https://github.com/IBM/neuro-symbolic-ai
[submodule "core/symbolic/nucleoid"]
	path = core/symbolic/nucleoid
	url = https://github.com/NucleoidAI/Nucleoid
[submodule "core/symbolic/peirce"]
	path = core/symbolic/peirce
	url = https://github.com/neuro-symbolic-ai/peirce
[submodule "core/neural/torchlogic"]
	path = core/neural/torchlogic
	url = https://github.com/IBM/torchlogic
[submodule "core/neural/symbolicai"]
	path = core/neural/symbolicai
	url = https://github.com/ExtensityAI/symbolicai
[submodule "orchestration/openssa"]
	path = orchestration/openssa
	url = https://github.com/aitomatic/openssa
[submodule "orchestration/agents/autonomous-agents"]
	path = orchestration/agents/autonomous-agents
	url = https://github.com/tmgthb/Autonomous-Agents.git
[submodule "orchestration/agents/crewai"]
	path = orchestration/agents/crewai
	url = https://github.com/crewAIInc/crewAI.git
[submodule "orchestration/agents/aiwaves-agents"]
	path = orchestration/agents/aiwaves-agents
	url = https://github.com/aiwaves-cn/agents.git
[submodule "ethical_audit/py_bindings/aix360"]
	path = ethical_audit/py_bindings/aix360
	url = https://github.com/Trusted-AI/AIX360.git
[submodule "ethical_audit/holisticai"]
	path = ethical_audit/holisticai
	url = https://github.com/holistic-ai/holisticai.git
[submodule "core/symbolic/mem0"]
	path = core/symbolic/mem0
	url = https://github.com/mem0ai/mem0.git
[submodule "core/symbolic/weaviate"]
	path = core/symbolic/weaviate
	url = https://github.com/weaviate/weaviate.git
[submodule "orchestration/external_ai_integration/superagi"]
	path = orchestration/external_ai_integration/superagi
	url = https://github.com/TransformerOptimus/SuperAGI.git
[submodule "utils/awesome-production-ml"]
	path = utils/awesome-production-ml
	url = https://github.com/EthicalML/awesome-production-machine-learning.git
[submodule "core/neural/deepchem"]
	path = core/neural/deepchem
	url = https://github.com/deepchem/deepchem.git
[submodule "math_foundation/bionemo"]
	path = math_foundation/bionemo
	url = https://github.com/NVIDIA/BioNeMo.git
[submodule "core/neural/neurotrale"]
	path = core/neural/neurotrale
	url = https://github.com/nilearn/nilearn.git
[submodule "core/neural/reinvent"]
	path = core/neural/reinvent
	url = https://github.com/MolecularAI/REINVENT.git
[submodule "orchestration/agents/ai_scientist"]
	path = orchestration/agents/ai_scientist
	url = https://github.com/Significant-Gravitas/AutoGPT.git
[submodule "orchestration/agents/camel_ai"]
	path = orchestration/agents/camel_ai
	url = https://github.com/camel-ai/camel.git
